<div class="social-share">
  <p class="social-sharetext">SHARE THIS</p>
  <a class="social-shareicon" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
  <a class="social-shareicon" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
  <a class="social-shareicon" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-reddit"></i></a>
  <a class="social-shareicon" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" rel="nofollow" target="_blank" title="Share on Pinterest"><i class="fa fa-pinterest"></i></a>
  <a class="social-shareicon" href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}&description={{ page.description }}" rel="nofollow" target="_blank" title="Share on Tumblr"><i class="fa fa-tumblr"></i></a>
</div>