<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if page.image %}
    <div class="page-spanimage" style="background-image: url({{ page.image }});"></div>
    <p class="page-imagesrc">&nbsp;{% if page.imagesrc %}Image Source: {{ page.imagesrc }}{% endif %}</p>
    {% endif %}
    {% unless page.image %}
    <div class="site-spanimage" style="background-image: url({{ site.image }});"></div>
    <p class="page-imagesrc">&nbsp;{% if site.imagesrc %}Image Source: {{ site.imagesrc }}{% endif %}</p>
    {% endunless %}
    <div class="page-navigation">
        {% if page.title %}<a class="page-navigation" href="{{ site.baseurl }}/">&nbsp;HOME</a>{% endif %}
        {% unless page.title %}<a class="page-navigation" href="{{ site.baseurl }}/#postlist">&nbsp;POSTS</a>{% endunless %}
        {% for my_page in site.pages %}
          {% if my_page.title %}
          &nbsp;&nbsp;|&nbsp;
          <a class="page-navigation" href="{{ my_page.url | prepend: site.baseurl }}">&nbsp;{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
    </div>
    <div class="page-content">

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
