<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% if page.image %}
        <div class="page-spanimage" style="background-image: url({{ site.baseurl }}/images/{{ page.image }});"></div>
        <p class="page-imagesrc">&nbsp;{% if page.imagesrc %}Image Source: {{ page.imagesrc }}{% endif %}</p>
        {% endif %}
        {% unless page.image %}
        <div class="site-spanimage" style="background-image: url({{ site.baseurl }}/images/{{ site.image }});">
        <p><span>{{ site.title }}</span></p></div>
        <p class="page-imagesrc">&nbsp;{% if site.imagesrc %}Image Source: {{ site.imagesrc }}{% endif %}</p>
        <a name="postlist"></a>
        {% endunless %}
        <div class="page-navigation">
            <p>{% if page.title %}<a href="{{ site.baseurl }}/">&nbsp;HOME</a>{% endif %}
            {% unless page.title %}<a href="{{ site.baseurl }}/#postlist">&nbsp;POSTS</a>{% endunless %}
            {% for my_page in site.pages %}
            {% if my_page.title %}&nbsp;&nbsp;|&nbsp;<a href="{{ my_page.url | prepend: site.baseurl }}">&nbsp;{{ my_page.title }}</a>{% endif %}
            {% endfor %}</p>
        </div>
        
        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

    </body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/jq-sticky-anything.min.js"></script>
    <script>
        $('.page-navigation').stickThis({
                top:0
        });
    </script>
</html>
